# node
node_modules/
.env
.env.local

# build outputs
dist/
build/

# OS
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*

__pycache__/
venv/
voice-bot-backend/bot_audio/
voice-bot-backend/temp_audio/
*.mp3
*.wav
